/*
font-family: 'Oswald', sans-serif;
font-weight: 'Regular 400';
font-weight: 'Semibold 600'; bold;

font-family: 'Cardo', serif;

Colors
Text color: rgb(27, 59, 70)
Background color: rgb(235, 221, 212)
Additional color(s): rgb(182, 186, 195)
*/

body {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;

  font-weight: 'Regular 400';
  color: rgb(27, 59, 70);
  background-color: rgb(235, 221, 212)
}

header{
  margin: -1;
  font-family: 'Oswald', sans-serif;
  font-weight: 'Regular 400';
  background-color: rgb(182, 186, 195);
  color: rgb(27, 59, 70)
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div .media {
  display: flex;
  align-items: justify;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

div .copy {
  display: flex;
  align-items: justify;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;

}

div .book {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
}

section .shop-holder {
  display: flex;
  align-items: justify;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
}

section .copy-holder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 2rem;

}

section .location-holder {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: auto;
  width: 60%;
}

section .location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

img {
  height: auto;
  max-width: 150px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.featured{
  display: flex;
  height: auto;
  max-width: 75%;
  justify-content: space-around;
  margin: auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 'Semibold 600'; bold;  text-align: center;
  font-size: 3em;
}

h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 'Regular 400';
  text-align: center;
  font-size: 2em;
}

h3{
  font-family: 'Cardo', serif;
}

figcaption{
  font-size: .75rem;
  text-align: center;
  font-size: 15px;
  padding: 8px 12px;
  justify-content: space-around;
  margin: auto;
  bottom: 8px;
  max-width: 75%;
  text-align: center;
  font-family: 'Cardo', serif;
}

footer {
  text-decoration-color: none;
  background-color: rgb(182, 186, 195);
  font-size: .75em;
  width: 100%;
  margin: 2rem, 0,0,0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

header .nav ul{
  list-style-type: none;
  display: inline-flex;
  align-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

}
li a {
  list-style-type: none;
  display: inline-flex;
  color: rgb(27, 59, 70);
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  float: left;
}

li a:hover:not(.active) {
  list-style-type: none;
  background-color: rgb(235, 221, 212);
}

.active {
  list-style-type: none;
  background-color: rgb(235, 221, 212);
}

footer {
  text-decoration-color: none;
  font-family: 'Cardo', serif;
  background-color: rgb(182, 186, 195);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button_holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
button {
  background-color: rgb(182, 186, 195);
  border-color: rgb(27, 59, 70);
  border-radius: 5pt;
  font-family: 'Cardo', serif;
  color: rgb(27, 59, 70);
  width: 5rem;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(27, 59, 70);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(182, 186, 195,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px){
  div .book {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
    header .nav ul{
      list-style-type: none;
      display: inline-flex;
      align-content: flex-end;
      flex-direction: column;
  }
  li a {

    width: 100%;
    margin: none;
  }
    div .book {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    header .nav ul{
      list-style-type: none;
      display: inline-flex;
      align-content: flex-end;
      flex-direction: column;
  }
